* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
.jogador {
  background-color: red;
  width: 30px;
  height: 30px;
  position: relative;
}

.parede {
  width: 30px;
  background-color: blue;
  height: 30px;
}
.linhaDiv {
  display: flex;
}
.espaco {
  width: 30px;
  height: 30px;
}
.container {
  display: grid;
  padding: 100px;
  justify-content: center;
}
.comeco,
.final {
  width: 30px;
  height: 30px;
}
